.headerImage img {
    max-height: 150px;
    margin: 0 auto;
    align-items:center;
    border-radius: 15px;
}

.headerImage {
    margin: 0 auto;
    align-items:center;
    /* padding-top: 7px; */
}

.headerFlex {
    display: flex;
    flex-direction: row;
}

.headerFlex h1 {
    padding: 10px;
    padding-top: 15px;
    margin: 20px;
    font-size: 3em;
}

.headerFlex h2 {
    font-size: 2em;
    padding: 10px;
    
    margin: 20px;
    padding-top: 30px;
}