.button-border {
    border-style: solid;
    border-radius: 10px;
    max-width: 50%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    background-color: rgb(44, 44, 44);
    color: whitesmoke;
    font-weight: 900;
    /* transition-property: transform; */
    transition-property: background-color;
    transition-duration: 1s;
}

.button-border:hover {
    /* transform: scale(1.1); */
    background-color: cornflowerblue;

}